/*llamado e imports utilities   */
/*para los titulos h2 y h3*/
/*llamado e imports base   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #020241; }

h2 {
  color: #050229;
  font-size: 2rem;
  padding: 1rem;
  width: 70%; }

h3 {
  color: #050229;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  margin: 0.25rem; }
  h3:hover {
    color: #17a301; }

h4 {
  color: #050229;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  margin: 0.25rem; }

@font-face {
  font-family: "chocoShake";
  src: url("../assets/fonts/chocoShake.ttf"); }

/*llamado a layouts   */
header {
  background-image: linear-gradient(to right bottom, #062a00, #073705, #0b4508, #115308, #186208, #076222, #006132, #005f3f, #004b48, #003646, #002138, #000921); }

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: #17a301;
  padding: 0.75rem; }
  .header img {
    width: 12.5rem;
    border-radius: 15%; }
    .header img:hover {
      transform: scale(1.3);
      filter: drop-shadow(1px 2px 5px #4b4bbf); }
  .header h1 {
    font-size: 2.625rem;
    font-family: "chocoShake"; }
    .header h1:hover {
      color: #3e27ae;
      text-shadow: 1px 2px 5px #ff027c; }
  .header nav {
    padding-right: 1.125rem;
    display: flex; }

h2 {
  color: #050586;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: "chocoShake";
  text-shadow: 1px 2px 5px #ff027c; }

h3 {
  color: #050586;
  font-size: 1.5rem; }

/* Footer */
footer {
  background-image: url(../assets/darkgreen.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0; }

.container {
  display: flex;
  justify-content: space-around;
  margin: auto; }
  .container .card {
    width: 33%;
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 4px #050229; }
    .container .card p {
      text-align: justify; }
    .container .card img {
      width: 100%;
      height: auto; }
  .container ul {
    color: #020241; }
    .container ul .li {
      padding: 0.125rem;
      list-style: none;
      margin: 1rem;
      text-decoration: dashed; }
    .container ul li i {
      font-size: 1rem;
      margin-right: 1rem; }
      .container ul li i:hover {
        color: #3e27ae; }

.container {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border-radius: none;
  max-width: 1200px;
  text-align: center;
  margin: 0.5rem auto; }

.contac {
  flex-direction: column; }

.content {
  width: 70%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 1200px;
  color: #020241;
  box-shadow: 2px 4px 8px 4px #050229; }
  .content img {
    width: 70%;
    max-width: 800px; }

.caja1 {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .caja1 .section1 {
    display: flex;
    justify-content: space-around;
    align-content: center; }
    .caja1 .section1 img {
      width: 90%;
      max-width: 600px;
      height: auto; }

.section2, .section3 {
  color: #020241;
  font-size: 1.125rem;
  font-family: arial;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.125rem;
  width: 70%;
  margin: 1rem auto;
  padding: 2.5rem;
  border-radius: 1rem;
  background-image: url(../assets/conciencia.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 2px 4px 8px 4px #050229; }

.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.125rem;
  flex-direction: column;
  background-image: none; }
  .section3 img {
    width: 100%; }

.section4 {
  background-image: url(../assets/registro.jpg);
  background-size: cover;
  border-radius: 0.9375rem;
  width: 70%;
  padding: 1.5rem;
  margin: 1rem auto;
  box-shadow: 2px 4px 8px 4px #050229; }

form {
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  width: 70%;
  padding: 1.5rem;
  margin: auto; }
  form label {
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: left; }
  form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #17a301;
    border-radius: 4px;
    font-size: 1rem; }

.nosotros-p {
  color: #020241;
  font-size: 18px;
  font-family: arial;
  text-align: justify;
  width: 80%;
  line-height: 1; }

.content1 {
  width: 90%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  max-width: 1200px;
  color: #020241; }

.img2 {
  width: 70%;
  border-radius: 1rem; }

.content1 .mision {
  width: 100%;
  background-image: url(../assets/mision1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 1.25rem;
  box-shadow: 2px 4px 8px 4px #050229; }

.content1 .vision {
  width: 100%;
  background-image: url(../assets/vision.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 1.25rem;
  box-shadow: 2px 4px 8px 4px #050229; }

.content1 p {
  width: 100%;
  text-align: justify;
  margin: 0.5rem auto;
  padding: 1rem;
  font-size: 1rem; }

.news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; }

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: auto;
  margin: 1rem;
  padding: 3rem;
  background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); }
  aside h3 {
    text-align: center;
    padding-bottom: 2rem;
    justify-items: center; }
  aside .link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.25rem;
    margin: 0.25rem;
    gap: 0.5rem; }

.noticias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  height: auto;
  background-image: url(../assets/dia-mundial-del-reciclaje.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem auto;
  padding: 5rem;
  border-radius: 1.25rem; }
  .noticias p {
    width: 80%;
    color: #ff027c;
    font-size: 1.25rem;
    align-content: center;
    margin: auto;
    text-align: justify; }
  .noticias .noti1 {
    font-family: "chocoShake";
    text-align: center; }

/*llamado a components   */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; }
  .navbar li {
    display: flex;
    font-size: 1.125rem;
    list-style: none;
    font-weight: bold; }
    .navbar li a {
      color: #17a301;
      font-size: 1.125rem;
      text-decoration: none;
      transition: all 0, 5s; }
      .navbar li a:hover {
        color: #3e27ae;
        transform: scale(1.3); }

.redes {
  margin: 1rem;
  padding: 1rem; }
  .redes .items {
    width: 100%;
    color: #9a9a99;
    font-size: 1.125rem;
    padding: 2px; }
    .redes .items:hover {
      color: #3e27ae; }

.boton {
  width: 40%;
  padding: .50rem;
  border-radius: 1.25rem;
  background: #17a301;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold; }
  .boton:hover {
    background: #3e27ae;
    box-shadow: 2px 4px 8px #050229; }

/* Main News Section */
.main-news img {
  max-width: 100%;
  height: auto; }

/* News Item */
.news-item img {
  max-width: 100%;
  height: auto; }

/*llamado a @media queries  */
/* Estilos responsivos */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-center; }
    .header nav {
      width: 80%; }
    .header .navbar {
      flex-direction: column;
      width: 100%; }
      .header .navbar li {
        margin: 0.25rem;
        padding: 0.125rem;
        text-align: center; }
  h1 {
    font-size: 2rem;
    padding: 1rem; }
  .content {
    width: 80%;
    flex-direction: column; }
    .content p {
      width: 100%;
      font-size: 0.75rem;
      padding: 1rem; }
    .content .caja1 {
      flex-direction: column;
      padding: 1rem;
      width: 100%; }
  h2 {
    width: 80%;
    font-size: 1.5rem; }
  img {
    width: 100%; }
  .section2, .section3 {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .section2 p, .section3 p {
      width: 100%;
      font-size: 0.75rem;
      padding: 1rem; }
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center; }
    .container p {
      width: 100%;
      font-size: 0.75rem; }
    .container .card {
      align-items: center;
      width: 70%; }
  .section4 {
    width: 100%;
    flex-direction: column; }
    .section4 .container {
      width: 100%; }
      .section4 .container form {
        width: 100%;
        margin: none; }
        .section4 .container form button {
          width: 60%; }
  .content1 {
    width: 100%;
    flex-direction: column; }
  .nos2 {
    display: flex;
    flex-wrap: wrap; }
    .nos2 .caja1 {
      flex-direction: column; }
  .noticias {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 1.25rem; }
    .noticias p {
      width: 95%;
      color: #17a301;
      font-weight: bold;
      font-size: 1rem;
      align-content: center;
      text-align: justify;
      margin: auto; } }

@media (max-width: 350px) {
  .header {
    flex-direction: column;
    align-items: flex-center; }
    .header nav {
      width: 100%; }
    .header .navbar {
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: .50rem; }
      .header .navbar li {
        padding: 0.125rem;
        text-align: center;
        margin: auto; }
    .header h1 {
      font-size: 1.75rem;
      padding: .75rem; }
  .content {
    width: 100%;
    flex-direction: column; }
    .content p {
      width: 100%;
      font-size: 0.75rem;
      padding: .50rem; }
    .content .caja1 {
      flex-direction: column;
      padding: 1rem;
      width: 100%; }
  h2 {
    width: 100%;
    font-size: 1.25rem;
    margin: .25rem; }
  img {
    width: 100%; }
  .section2, .section3 {
    width: 100%;
    flex-direction: column; }
    .section2 p, .section3 p {
      width: 100%;
      font-size: 0.25rem;
      padding: .25rem; }
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center; }
    .container p {
      width: 100%;
      font-size: 0.75rem; }
    .container .card {
      align-items: center;
      width: 95%; }
  .section4 {
    width: 100%;
    flex-direction: column; }
    .section4 .container {
      width: 100%; }
      .section4 .container form {
        width: 100%;
        margin: none; }
        .section4 .container form button {
          width: 100%; }
  .content1 {
    width: 100%;
    flex-direction: column; }
  .nos2 {
    display: flex;
    flex-wrap: wrap; }
    .nos2 .caja1 {
      flex-direction: column; }
  .noticias {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: none;
    background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1.25rem; }
    .noticias p {
      width: 95%;
      color: #020241;
      font-size: 1rem;
      align-content: center;
      text-align: justify;
      margin: auto; } }
