/* Estilos responsivos */
@media(max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-center;
    nav {
      width: 80%;
    }
    .navbar {
      flex-direction: column;
      width: 100%;
      li {
        margin: 0.25rem;
        padding: 0.125rem;
        text-align: center;
      }
    }
  }
  .navbar-brand {
  h1 {
    font-size: 2rem;
    padding: 1rem;
  }
  }
  img{
    height: auto;
  }

  .content {
    width: 80%;
    flex-direction: column;
    p {
      width: 100%;
      font-size: 0.75rem;
      padding: 1rem;
    }
    .caja1 {
      flex-direction: column;
      padding: 1rem;
      width: 100%;  
    }  
  }
h2 {
  width: 80%;
  font-size: 1.5rem;
}
img {
  width: 100%;
}
.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  p {
    width: 100%;
    font-size: 0.75rem;
    padding: 1rem;
  }
}
.container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  p {
    width: 100%;
    font-size: 0.75rem;
  }
  .card {
    align-items: center;
    width: 70%;
  }
  }
  .section4 {
    width: 100%;
    flex-direction: column;
    .container{
      width: 100%;
    form{
      width: 100%;margin: none;          
        button {
        width: 60%;
      }          
      }    
    }
  } 
.content1{
  width: 100%;
  flex-direction: column;      
  }
  .nos2{
    display: flex;
    flex-wrap: wrap;
    .caja1{
      flex-direction: column;
    }
  }

  .noticias{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 1.25rem;
    p{
      width: 95%;
      color:$colorNombre;
      font-weight: bold;
      font-size: 1rem;
      align-content:center;
      text-align: justify;
      margin: auto;
    }
}
.news-item {
  width: calc(50% - 20px); /* 2 items por fila */
}
.section-if {
  padding: 10px;
  width: 90%;
.container-if {
  width: 100%;
  flex-direction:column;
  .iframe{
  width: 90%;
  margin:auto;
  }
}
}
.carousel{
  width: 100%;
  margin: 2px;
}
}
