.boton {
  width: 60%;
  padding: 0.5rem;
  border-radius: 1rem;
  background: $colorNombre;
  color: #050586;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  &:hover {
    color: #fff;
    background: $colorHover1;
    box-shadow: 2px 4px 8px #050229;
  }
}
