.navbar {
  @include flex(space-between,center,row,wrap,1.125rem);
   padding: .75rem;

  
.navbar-brand {
  @include flex(space-around,center,row,wrap,12px);
   margin-left: 0;
  padding-left: 0;
 h1{
    color: $colorNombre;
    font-size: 3rem;
    font-family: "chocoShake";
    &:hover {
      color: $colorHover1;
      text-shadow: 1px 2px 5px #ff027c;
      }
  }
  .me-2{
    width:10rem;
     border-radius: 15px;
     padding: .25rem;
    margin-right:1rem;
  }
}
.nav-link{
  color: $colorNombre;
  font-size: 1.125rem;
  font-weight: bold;
  transform: scale(1.04);
  &:hover {
    text-decoration: underline;
    color: $colorHover1;
}
}
.active{  
  font-size: 1.25rem;
} 
}
.redes {
  margin: 1rem ;
  padding: .5rem;
  .items {
    width: 100%;
    color: #9a9a99;
    font-size:map-get($map:$tamaños, $key:peque );
       &:hover {
      color:$colorHover1;
      transform: scale(1.5);
      filter: drop-shadow(1px 2px 5px #4b4bbf);
      }
  }
}
