.main-contac {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .section3,
  .section4 {
    flex: 1;
    padding: 1rem;
    h2 {
      font-size: 2rem;
      text-align: center;
      width: 100%;
    }
    p {
      width: 100%;
      font-size: 1.125rem;
      padding: 1rem;
    }
  }
}
.container {
  @include espacios(100%, 1rem, 1rem, none);
  max-width: 1200px;
  text-align: center;
  margin: 0.5rem auto;
}
.contac {
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.content {
  width: 100%;
  @include espacios(70%, auto, 2rem, 1rem);
  max-width: 1200px;
  color: $colorParrafos;
  box-shadow: 2px 4px 8px 4px #050229;
  img {
    width: 90%;
    max-width: 600px;
  }
}
.caja1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 {
  width: 70%; 
  @include parrafos($colorParrafos, 1rem, verdana, justify);
  @include flex(space-between, center, column, wrap, 0.125rem);
  @include espacios(70%, 1rem auto, 2.5rem, 1rem);
  background-image: url(../assets/conciencia.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 2px 4px 8px 4px #050229;
  &:hover{
    transform: scale(1.02);
  }
}
.section3 {
  @extend .section2;
  @include flex(space-between, center, column, nowrap, 0.125rem);
  flex-direction: column;
  background-image: none;
  img {
    width: 100%;
  }
}
.section4 {
  background-image: url(../assets/registro.jpg);
  background-size: cover;
  border-radius: 0.9375rem;
  width: 70%;
  padding: 1.5rem;
  margin: 1rem auto;
  box-shadow: 2px 4px 8px 4px #050229;
  &:hover{
    transform: scale(1.02);
  }
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  width: 100%;
  padding: 1.5rem;
  margin: auto;

  label {
    margin: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: left;
  }
  input {
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid $colorNombre;
    border-radius: 0.5rem;
    font-size: 0.875rem;
  }
}
.nosotros-p {
  @include parrafos($colorParrafos, 18px, arial, justify);
  width: 80%;
  line-height: 1.25rem;
  padding-top: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
}

.content1 {
  @include espacios(90%, auto, 2rem, 1rem);
  display: flex;
  max-width: 1200px;
  color: $colorParrafos;
}
.img2 {
  width: 70%;
  border-radius: 1rem;
}
.content1 {
  .mision {
    width: 100%;
    background-image: url(../assets/mision1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 1.25rem;
    box-shadow: 2px 4px 8px 4px #050229;
  }
  .vision {
    width: 100%;
    background-image: url(../assets/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 1.25rem;
    box-shadow: 2px 4px 8px 4px #050229;
  }
  p {
    width: 100%;
    text-align: justify;
    margin: 0.5rem auto;
    padding: 1rem;
    font-size: 1rem;
  }
}
